<% @header_title=Rails.application.class.parent_name %>

<div class="container-fluid vertical-center">
  <div class="container text-center">
    <h1 class="header"><%= @header_title %></h1>
  </div>
</div>
